aws_region               = "ap-south-1"
enable_network           = true
enable_rds               = true
enable_api_gateway       = true
enable_backend_lambdas   = true
enable_api_custom_domain = true
